/*
    Name: Kidy.js
    Version: 0.1.3
*/

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


/* Contenido editable | editar el contenido en linea directamente */

[contenteditable] {
    outline: 0px solid transparent;
}